/*
 8 - Call to actions.
*/

.newsletter{
    padding: 90px 0;
    h2{
        color: #fff;
    }
    p{
        color: rgba(255,255,255,0.7);
    }
    .form-control{
        height: 45px;
        box-shadow: none;
        border:0px;
    }
}
.newsletter-form{
    position: relative;
    .btn-newsletter{
        position: absolute;
        right: 10px;
        top: 0;
        height: 45px;
        background: #fff;
        border: 0px;
        text-transform: capitalize;
        line-height: 45px;
        font-size: 13px;
        font-family: $base-font;
        cursor: pointer;
    }
}
