<nav class="navbar navbar-toggleable-sm fixed-top transparent-nav navbar-inverse bg-inverse">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="../assets/images/logo.png" alt="logo"></a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto navbar-scroll">
                <li class="nav-item"><a class="nav-link active" href="#home">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
                <li class="nav-item"><a class="nav-link" href="#staff">Staff</a></li>
                <li class="nav-item"><a class="nav-link" href="#deck">Deck</a></li>
                <li class="nav-item"><a class="nav-link" href="#associates">Associates</a></li>
                <li class="nav-item"><a class="nav-link" href="#faq">FAQ</a></li>
                <li class="dropdown nav-item">
                    <span class="dropdown-toggle menu-drop-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More</span>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a class="dropdown-item" href="index.html">Demo 1</a></li>
                        <li><a class="dropdown-item" href="index-02.html">Demo 2</a></li>
                        <li><a class="dropdown-item" href="index-03.html">Demo 3</a></li>
                        <li><a class="dropdown-item" href="page.html">Page Example</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>