<section id="services" class="pt90 pb90" [@aboutFade]="state" (click)="changeState()">
            <div class="full-height full-width">
            <div class="container">
                <h2 class="text-capitalize text-center font100">Services</h2>
                <div class="row">
                    <div class="col-md-8 offset-md-2 text-center">
                        <p class="lead mb70"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-3 mb40" *ngFor="let service of services">
                        <div class="icon-box">
                            <img src="{{service.icon}}">
                            <h4>{{service.caption}}</h4>
                            <p></p>
                        </div>
                    </div><!--/column-->
                </div><!--/row-->
                <div class="row">
                    <div class="col-md-8 offset-md-2 text-center">
                        <p class="lead mb70"></p>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-6 col-lg-4 mb40">
                        <div class="icon-box">
                            <h3>27+ Years</h3>
                            <p>COMBINED DIGTIAL EXPERIENCE</p>
                        </div>
                    </div><!--/column-->
                    <div class="col-md-6 col-lg-4 mb40">
                        <div class="icon-box">
                            <h3>$80+ Million</h3>
                            <p>IN AD DOLLARS MANAGED</p>
                        </div>
                    </div><!--/column-->
                    <div class="col-md-6 col-lg-4 mb40">
                        <div class="icon-box">
                            <h3>$920 Million</h3>
                            <p>IN REVENUE GENERATED</p>
                        </div>
                    </div><!--/column-->
                </div><!--/row-->
                
            </div><!--/container--></div>
        </section><!--/about-->