<hr class="mt0 mb0">
        <section id="" class="pt90 pb50 m100center dark-links">
            <div class="container">
                <div class="text-center center-title mb50">
                    <h2 class="text-capitalize text-center font100">Our Perspective &amp; Our Results</h2>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-4">
                        <a href="#"><img src="../assets/images/deck.png" alt="" class="img-fluid"></a>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <a href="#"><img src="../assets/images/Case-Study.png" alt="" class="img-fluid"></a>
                    </div>
                </div>
            </div>
        </section>