<section id="pricing" class="pt90 pb50 bg-black-trans5 m100center card-container">
    <div class="card">
        <div class="text-center center-title mb50">
            <h2 class="text-capitalize text-center font300">Pricing Tables</h2>
            <p>
                Free 15 days trail. Cancel anytime
            </p>
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="row">
                    <div class="col-lg-4 mb40 card" *ngFor="let person of staff">
                        <div class="pricing-box danger">                            
                            <h1 class="text-right">
                                $100<span>Per Hour</span> 
                            </h1>
                            <h3>{{ person.role }}</h3>
                            <ul class="list-unstyled">
                                <li>{{ person.first }}</li>
                                <li>{{ person.last }}</li>
                                <li>{{ person.bio }}</li>
                                <li></li>
                                <li></li>
                            </ul>
                            <div class="text-center">
                                <a href="#" class="btn btn-lg btn-rounded btn-danger btn-block">Sign Up</a>
                            </div>
                        </div>
                    </div><!--/price col-->
                </div><!--/row-->
            </div><!--/offset col-->
        </div><!--/row-->
    </div><!--/container-->
</section>