<!--
<h1>
  {{title}}
</h1>
-->



<!--  navbar -->
        <nav class="navbar navbar-toggleable-sm fixed-top transparent-nav navbar-inverse bg-inverse">
            <div class="container">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="../assets/images/logo.png" alt="logo"></a>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-scroll">
                        <li class="nav-item"><a class="nav-link active" href="#home">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#features">features</a></li>
                        <li class="nav-item"><a class="nav-link" href="#pricing">pricing</a></li>
                        <li class="nav-item"><a class="nav-link" href="#testimonials">Testimonials</a></li>
                        <li class="nav-item"><a class="nav-link" href="#faq">FAQ</a></li>
                        <li class="dropdown nav-item">
                            <span class="dropdown-toggle menu-drop-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More</span>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a class="dropdown-item" href="index.html">Demo 1</a></li>
                                <li><a class="dropdown-item" href="index-02.html">Demo 2</a></li>
                                <li><a class="dropdown-item" href="index-03.html">Demo 3</a></li>
                                <li><a class="dropdown-item" href="page.html">Page Example</a></li>   
                            </ul>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
        <!--end navigation-->

        <section class="hero-form bg-black-trans5 mx-auto full-height" id="home">
            <div class="display-table">
                <div class="verticle-center">
            <div class="container">
                <div class="row v-align-children">
                    <div class="col-md-6 navbar-scroll">
                        <h1 class="font300">Build something awesome</h1>
                        <p class="mt0 mb30">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                        </p>
                        <div class="mb30 buttons">
                            <a href="#features" class="btn btn-lg btn-rounded btn-dark"> Get Started</a>
                            <a href="#" data-toggle="modal" data-target="#video-modal" class="btn btn-lg btn-rounded btn-white-border"><i class="social_youtube"></i> Watch Video</a>
                        </div>
                    </div><!--/col-->
                    <div class="col-md-5">
                        <div class="hero-form-box">
                            <div class="form-hero-header">
                                <h3 class="font300"><i class="icon_pencil"></i> Get a free quote</h3>
                                <p>
                                    Please complete the form and we will get back to you.
                                </p>
                            </div>
                            <form method="post" action="#" class="intro-contact">
                                <div class="row">
                                    <div class="col-sm-12"> 
                                        <div class="row">
                                            <div class="col-sm-12 mb20">
                                                <input type="text" name="name" class="form-control" placeholder="Full Name...." />
                                            </div>
                                            <div class="col-sm-12 mb20">
                                                <input type="text" name="email" class="form-control" placeholder="Email Address...." />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12  mb20">
                                        <textarea name="message" class="form-control" rows="5" placeholder="Message...."></textarea>                                  
                                    </div>
                                </div>
                                <div class="row mb15">
                                    <div class="col-sm-12 text-center">
                                        <div class="data-status"></div> <!-- data submit status -->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 text-right">
                                        <button type="submit" name="submit" class="btn btn-primary btn-lg">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
                </div></div>
        </section><!--/home-->
        <section id="about" class="pt90 pb90 bg-black-trans5 m100center">
            <div class="full-height full-width">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2 text-center">
                        <p class="lead mb70">
                            Maecenas sollicitudin luctus neque at auctor sum lacinia.  Maecenas sollicitudin luctus neque at auctor sum lacinia. Phasellus conseodio vitae semper.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-3 mb40">
                        <div class="icon-box">
                            <i class="icon_lightbulb_alt text-primary"></i>
                            <h4>Easy to use</h4>
                            <p>
                                Maecenas sollicitudin luctus neque at auctor sum lacinia. Phasellus conseodio vitae semper. </p>
                        </div>
                    </div><!--/column-->
                    <div class="col-md-6 col-lg-3 mb40">
                        <div class="icon-box">
                            <i class="icon_gift_alt text-warning"></i>
                            <h4>Free updates</h4>
                            <p>
                                Maecenas sollicitudin luctus neque at auctor sum lacinia. Phasellus conseodio vitae semper.</p>
                        </div>
                    </div><!--/column-->
                    <div class="col-md-6 col-lg-3 mb40">
                        <div class="icon-box">
                            <i class="social_twitter text-danger"></i>
                            <h4>Bootstrap Based</h4>
                            <p>
                                Maecenas sollicitudin luctus neque at auctor sum lacinia. Phasellus conseodio vitae semper.  </p>
                        </div>
                    </div><!--/column-->
                    <div class="col-md-6 col-lg-3 mb40">
                        <div class="icon-box">
                            <i class="icon_chat_alt"></i>
                            <h4>Customer support</h4>
                            <p>
                                Maecenas sollicitudin luctus neque at auctor sum lacinia. Phasellus conseodio vitae semper.</p>
                        </div>
                    </div><!--/column-->
                </div><!--/row-->
            </div><!--/container--></div>
        </section><!--/about-->
        <hr class="mb0">
        <section id="features" class="pt90 bg-black-trans5 pb90 m100center">
            <div class="container">
                <div class="row v-align-children">
                    <div class="col-lg-5">
                        <h2 class="font300 mb30">Build something awesome</h2>
                        <p class="lead">
                            Phasellus consequat facilisis volutpat ma faucibus odio vitae semper. Ae volutpat lobortis.
                        </p>
                        <p>
                            Mauris vehicula tortor id augue rutrum consequat ac at massa. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus bibendum urna pellentesque urna ultrices porttitor. Sed ac leo id odio fringilla venenatis. Morbi vel turpis luctus diam ultrices adipiscing. Vestibulum feugiat suscipit tortor, sed hendrerit ipsum ultricies eu.
                        </p>
                    </div><!--/col/-->
                    <div class="col-lg-4 offset-lg-1">
                        <img src="../assets/images/imac.png" alt="" class="img-fluid">
                    </div><!--/col/-->
                </div><!--/row/-->
            </div><!--/container/-->
        </section><!--feature 1 end-->
        <hr class="mt0 mb0">
        <section id="feature2" class="pt90 pb90 bg-black-trans5 m100center">
            <div class="container">
                <div class="row v-align-children">
                    <div class="col-lg-4">
                        <img src="../assets/images/iphone.png" alt="" class="img-fluid">
                    </div><!--/col/-->
                    <div class="col-lg-5 offset-lg-1">
                        <h2 class="font300 mb30">Beautiful on all devices</h2>

                        <p>
                            Mauris vehicula tortor id augue rutrum consequat ac at massa. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus bibendum urna pellentesque urna ultrices porttitor. Sed ac leo id odio fringilla venenatis. Morbi vel turpis luctus diam ultrices adipiscing. Vestibulum feugiat suscipit tortor, sed hendrerit ipsum ultricies eu.
                        </p>
                        <ul class="features-list list-unstyled">
                            <li>
                                Mauris vehicula tortor id augue rutrum
                            </li>
                            <li>
                                Interdum et malesuada fames ac ante
                            </li>
                            <li>
                                Mauris vehicula tortor id augue rutrum
                            </li>
                            <li>
                                Vivamus bibendum urna pellentesque
                            </li>
                        </ul>
                    </div><!--/col/-->

                </div><!--/row/-->
            </div><!--/container/-->
        </section><!--/feature 2/-->
        <hr class="mb0 mt0">
        <section id="pricing" class="pt90 pb50 bg-black-trans5 m100center">
            <div class="container">
                <div class="text-center center-title mb50">
                    <h2 class="text-capitalize text-center font300">Pricing Tables</h2>
                    <p>
                        Free 15 days trail. Cancel anytime
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <div class="row">
                            <div class="col-lg-4 mb40">
                                <div class="pricing-box danger">                            
                                    <h1 class="text-right">
                                        $7<span>Per Month</span> 
                                    </h1>
                                    <h3>Basic</h3>
                                    <ul class="list-unstyled">
                                        <li>
                                            10 GB monthly bandwidth
                                        </li>
                                        <li>5 GB disk space</li>
                                        <li>20 Email-accounts</li>
                                        <li>10 Sub-domains</li>
                                        <li>Unlimited support</li>
                                    </ul>
                                    <div class="text-center">
                                        <a href="#" class="btn btn-lg btn-rounded btn-danger btn-block">Sign Up</a>
                                    </div>
                                </div>
                            </div><!--/price col-->
                            <div class="col-lg-4 mb40">
                                <div class="pricing-box primary">                            
                                    <h1 class="text-right">
                                        $29<span>Per Month</span> 
                                    </h1>
                                    <h3>Pro</h3>
                                    <ul class="list-unstyled">
                                        <li>
                                            10 GB monthly bandwidth
                                        </li>
                                        <li>5 GB disk space</li>
                                        <li>20 Email-accounts</li>
                                        <li>10 Sub-domains</li>
                                        <li>Unlimited support</li>
                                    </ul>
                                    <div class="text-center">
                                        <a href="#" class="btn btn-lg btn-rounded btn-primary btn-block">Sign Up</a>
                                    </div>
                                </div>
                            </div><!--/price col-->
                            <div class="col-lg-4 mb40">
                                <div class="pricing-box dark">                            
                                    <h1 class="text-right">
                                        $49<span>Per Month</span> 
                                    </h1>
                                    <h3>Business</h3>
                                    <ul class="list-unstyled">
                                        <li>
                                            10 GB monthly bandwidth
                                        </li>
                                        <li>5 GB disk space</li>
                                        <li>20 Email-accounts</li>
                                        <li>10 Sub-domains</li>
                                        <li>Unlimited support</li>
                                    </ul>
                                    <div class="text-center">
                                        <a href="#" class="btn btn-lg btn-rounded btn-dark btn-block">Sign Up</a>
                                    </div>
                                </div>
                            </div><!--/price col-->
                        </div><!--/row-->
                    </div><!--/offset col-->
                </div><!--/row-->
            </div><!--/container-->
        </section><!--/pricing-->
        <hr class="mt0 mb0">
        <section id="testimonials" class="pt90 pb50 bg-black-trans5 m100center">
            <div class="container">
                <div class="text-center center-title mb50">
                    <h2 class="text-capitalize text-center font300">What customers say</h2>
                </div>

                <div class="row pb40">
                    <div class="col-md-8 offset-md-2">
                        <div class="owl-carousel owl-theme owl-testimonials">
                            <div class="item text-center">
                                <img src="../assets/images/av1.jpg" alt="" class="img-thumbnail">
                                <p>
                                    " Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. "
                                </p>
                                <h4>Emily Doe</h4>
                            </div><!--/item-->
                            <div class="item text-center">
                                <img src="../assets/images/av2.jpg" alt="" class="img-thumbnail">
                                <p>
                                    " Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. "
                                </p>
                                <h4>John Doe</h4>
                            </div><!--/item-->
                            <div class="item text-center">
                                <img src="../assets/images/av3.jpg" alt="" class="img-thumbnail">
                                <p>
                                    " Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. "
                                </p>
                                <h4>Smith Doe</h4>
                            </div><!--/item-->
                        </div>
                    </div>
                </div>
                <div class="row clients-row">
                    <div class="col-md-2 col-sm-4">
                        <a href="#"><img src="../assets/images/cl1.png" alt="" class="img-fluid"></a>
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <a href="#"><img src="../assets/images/cl2.png" alt="" class="img-fluid"></a>
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <a href="#"><img src="../assets/images/cl3.png" alt="" class="img-fluid"></a>
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <a href="#"><img src="../assets/images/cl4.png" alt="" class="img-fluid"></a>
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <a href="#"><img src="../assets/images/cl2.png" alt="" class="img-fluid"></a>
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <a href="#"><img src="../assets/images/cl5.png" alt="" class="img-fluid"></a>
                    </div>
                </div>
            </div>
        </section><!--/testimonials-->
        <hr class="mt0 mb0">
        <section id="faq" class="pt90 pb50 bg-black-trans5 m100center">
            <div class="container">
                <div class="text-center center-title mb50">
                    <h2 class="text-capitalize text-center font300">Frequently Asked Questions</h2>
                </div>
                <div class="row">
                    <div class="col-md-4 mb40">
                        <h4 class="font300">Nulla blandit eu eros nec ultrices?</h4>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        </p>
                    </div><!--/col-->
                    <div class="col-md-4 mb40">
                        <h4 class="font300">Nulla blandit eu eros nec ultrices?</h4>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        </p>
                    </div><!--/col-->
                    <div class="col-md-4 mb40">
                        <h4 class="font300">Nulla blandit eu eros nec ultrices?</h4>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        </p>
                    </div><!--/col-->
                </div>
                <div class="row">
                    <div class="col-md-4 mb40">
                        <h4 class="font300">Nulla blandit eu eros nec ultrices?</h4>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        </p>
                    </div><!--/col-->
                    <div class="col-md-4 mb40">
                        <h4 class="font300">Nulla blandit eu eros nec ultrices?</h4>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        </p>
                    </div><!--/col-->
                    <div class="col-md-4 mb40">
                        <h4 class="font300">Nulla blandit eu eros nec ultrices?</h4>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        </p>
                    </div><!--/col-->
                </div>
            </div>
        </section><!--faqs-->
        <div class="newsletter bg-black-trans5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center offset-md-3">
                        <h2 class="font300">Sign Up for Newsletter</h2>
                        <p class="mb30">
                            Don't worry, we won't need your credit card details. Just enter your 
                            email address and we'll take care of the rest.
                        </p>
                        <div class="newsletter-form">
                            <form>
                                <input type="email" class="form-control" placeholder="Enter Email..." required="">
                                <button type="submit" class="btn-newsletter">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/newsletter-->
        <footer class="footer bg-black-trans5">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="list-inline f-links">
                            <li class="list-inline-item"><a href="#">Support</a></li>
                            <li class="list-inline-item"><a href="#">Careers</a></li>
                            <li class="list-inline-item"><a href="#">News</a></li>
                        </ul>
                        <div><a href="#" class="f-mail">support@intro.com</a><a href="#" class="f-phone">1800-345-3949</a></div>
                    </div>
                    <div class="col-sm-6 text-right">
                        <ul class="list-inline f-social">
                            <li class="list-inline-item"><a href="#"><i class="social_twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="social_facebook"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="social_linkedin"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="social_instagram"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="social_googleplus"></i></a></li>
                        </ul>
                        <span>&copy; Copyright 2017.</span>
                    </div>
                </div>
            </div>
        </footer><!--/footer-->
        <!--video modal-->
        <div class="modal fade videoModal" id="video-modal" tabindex="-1" role="dialog" aria-labelledby="video-modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="icon_close"></span></button>
                    </div>
                    <div class="modal-body">
                        <!-- 4:3 aspect ratio -->
                        <div>
                            <div style="position:relative;height:0;padding-bottom:56.21%"><iframe src="https://www.youtube.com/embed/LmdT2zhFmn4?ecver=2" style="position:absolute;width:100%;height:100%;left:0" width="641" height="360" frameborder="0" allowfullscreen></iframe></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end video modal-->
        <!--jQuery-->
       <script src="js/plugins/plugins.js"></script>
        <script src="js/intro-custom.js"></script>
        <script src="contact_form/contact.js"></script>