<section class="hero-form bg-black-trans full-height" id="home">
    <div class="display-table">
        <div class="verticle-center">
    <div class="container">
        <div class="row v-align-children">
            
            <div class="row">
                    <div class="col-md-12 text-center">
                        <img src="../assets/images/NICH-Marketing-Logo-White.png" class="nichLogo">
                        <p class="lead mb70">Call Now: 424.278.0977</p>
                    </div>
                </div>
            
            <h1 class="text-capitalize text-center font300">From Sales, Leads, User Acquisition, We Have Your Niche Covered</h1>

            
            

            
<!--            <app-form></app-form>-->
            
        </div>
    </div>
</div>
</div>
</section>