<form method="post" action="#" class="intro-contact">
<div class="row">
    <div class="col-sm-12"> 
        <div class="row">
            <div class="col-sm-12 mb20">Hello, my name is
                <input type="text" name="name" class="form-control" placeholder="Full Name...." />{{ fullName }}
            </div>
            <div class="col-sm-12 mb20">my email is
                <input type="text" name="email" class="form-control" placeholder="Email Address...." />
            </div>
        </div>
    </div>
    <div class="col-sm-12  mb20">
        <textarea name="message" class="form-control" rows="5" placeholder="Message...."></textarea>                                  
    </div>
</div>
<div class="row mb15">
    <div class="col-sm-12 text-center">
        <div class="data-status"></div> <!-- data submit status -->
    </div>
</div>
<div class="row">
    <div class="col-sm-12 text-right">
        <button type="submit" name="submit" class="btn btn-primary btn-lg" (click)="refreshStaff()">Submit</button>
    </div>
</div>
</form>