<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <ul class="list-inline f-links">
                    <li class="list-inline-item"><a href="#">Support</a></li>
                    <li class="list-inline-item"><a href="#" (click)="onClick()">Click Me</a></li>
                    <li class="list-inline-item"><a href="#">News</a></li>
                </ul>
                <div>
                    <a href="#" class="f-mail">{{ supportEmail }}</a>
                    <a href="#" class="f-phone">{{ supportPhone }}</a>
                </div>
            </div>
            <div class="col-sm-6 text-right">
                <ul class="list-inline f-social">
                    <li class="list-inline-item"><a href="#"><i class="social_twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="social_facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="social_linkedin"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="social_instagram"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="social_googleplus"></i></a></li>
                </ul>
                <span>&copy; Copyright {{ currentYear }}.</span>
            </div>
        </div>
    </div>
</footer>