<hr class="mt0 mb0">
        <section id="testimonials" class="pt90 pb50">
            <div class="container">
                <div class="text-center center-title mb50">
                    <h2 class="text-capitalize text-center font100">Associates</h2>
                </div>
                <div class="row clients-row">
                    <div class="col-md-3 col-sm-4" *ngFor="let associate of associates">
                        <a href="#"><img src="{{associate.img}}" alt="" class="img-fluid"></a>
                    </div>
                </div>
                <div class="row" style="opacity:0.5;">
                    <div class="col-md-6 col-sm-4">
                        <a href="#"><img src="../assets/images/Nifty-Genius-Logo.png" alt="" class="img-fluid"></a>
                    </div>
                    <div class="col-md-6 col-sm-4">
                        “From February 2017 to March 2017, our revenue has tripled since NICH took over our Facebook Ads.” <sub>James – Nifty Genius | Founder</sub>
                    </div>
                </div>
            </div>
        </section><!--/testimonials-->