<section class="hero-form full-height" id="home">
    <div class="display-table">
        <div class="verticle-center">
            
               <video poster="../assets/images/NICH-Marketing-Logo-White.png" class="#" autoplay muted loop>
                <source src="../assets/video/nich-home.mp4" type="video/mp4">
                  Your browser does not support the video tag.
               </video>
<!--            <app-form [@formFade]="state"></app-form>-->
            <app-home-text></app-home-text>
            
    <div class="container">
        <div class="v-align-children">



<!--
            <div class="row">
                    <div class="col-md-12 text-center">
                        <img src="../assets/images/NICH-Marketing-Logo-White.png" class="nichLogo">
                    </div>
                </div>
-->
<!--
            
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="text-capitalize text-center font300i">Sales, Leads and User Acquisitions</h1><br />
                    <h2 class="text-capitalize text-center font300">UNDER CONSTRUCTION. <br />Projected completion: May 30 2017.</h2>
                </div>
            </div>
            
-->


            
            

            
            
            
        </div>
    </div>
</div>
</div>
</section>