        <div class="newsletter bg-black-trans">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center offset-md-3">
                        <h2 class="font300">Sign Up for Newsletter</h2>
                        <p class="mb30">
                            Don't worry, we won't need your credit card details. Just enter your 
                            email address and we'll take care of the rest.
                        </p>
                        <div class="newsletter-form">
                            <form>
                                <input type="email" class="form-control" placeholder="Enter Email..." required="">
                                <button type="submit" class="btn-newsletter">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/newsletter-->