/* You can add global styles to this file, and also import other style files */
.form-control {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0);
    display: inline-block;
    color: white;
    font-size: 20px;
    text-align: center;

}
.form-control:focus {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    
}
app-form {
    position: absolute;
    top: 45vh;
    left: 22vw;
    background-color: rgba(0, 0, 0, 0.1);
    width: 540px;
    padding-top: 20px;
}
input {
    display: inline;
}
#name {  
    width: 192px;
}
#email {
    width: 256px;
}
form {}
.staff {
    background-color: rgba(0, 0, 0, 0);
    color: black;
}
video {
    width: 100vw;
    height: 100vh;
/*    overflow: hidden;*/
    object-fit: fill;
    z-index: -1;
    position: relative;
}
body {
    overflow-x: hidden;
}
.nichLogo {
    display:block;
    width: 80vw;
}
.border-top {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

