/* You can add global styles to this file, and also import other style files */
.form-control {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0);
    display: inline-block;
    color: white;
    font-size: 20px;
    text-align: center;

}
.form-control:focus {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    
}
app-form {
    position: absolute;
    top: 45vh;
    left: calc(50vw - (550px / 2));
    display: inline-block;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
    width: 550px;
    padding-top: 20px;
}
/*app-home-text {
    position: absolute;
    top: 45vh;
    left: calc(50vw - (550px / 2));
    display: inline-block;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    width: 550px;
    padding-top: 20px;
}*/
app-home-text {
    position: absolute;
    top: 0;
    left: -18px;    
    display: block;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    padding-top: 20px;
    vertical-align: middle;
    margin: auto;
    text-align: center;
}

.home-text {
    display: block;
    vertical-align: middle;
    margin-top: 50vh;
    
}
.app-form {
    
}
input {
    display: inline;
}
#name {  
    width: 192px;
}
#email {
    width: 256px;
}
form {}
app-staff {
    background-image: url(assets/images/bg1.jpg);
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    color: black;
}
video {
    left: -18px;
    width: 101vw;
    height: 100vh;
/*    overflow: hidden;*/
    object-fit: fill;
    z-index: -1;
    position: relative;
}
body {
    overflow-x: hidden;
}
.nichLogo {
    display:block;
    width: 80vw;
}
.border-top {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

#current1 {
    
}
#contractor0 {
    display: inline-block;
    width: 800px;
    height: 100px;
    background-image:    url(assets/images/home-words-short-white-trans-developer.png);
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;  
    filter: blur(0px);
    z-index: 1;
    opacity: 1;
}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
/*  position: absolute;*/
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-1px) scale(2);
}

.white-bg {
    background-color: white;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 15px 50px;
    top: -20px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 15px 0 rgba(0, 0, 0, 0.2);
}
.white-bg-full {
    background-color: white;
    height: 100%;
    padding: 20px 20px 20px 20px;
    top: 0px;
    position: relative;
}

input[text], button {
  color: #888;
}

.admin-nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
.admin-nav a:visited, a:link {
  color: #607D8B;
}
.admin-nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
.admin-nav a.active {
  color: #039be5;
}

[class*='col-'] {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}
a {
  text-decoration: none;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h3 {
  text-align: center; margin-bottom: 0;
}
h4 {
  position: relative;
}
.grid {
  margin: 0;
}
.col-1-4 {
  width: 25%;
}
.module {
  padding: 20px;
  text-align: center;
  color: #eee;
  max-height: 120px;
  min-width: 120px;
  background-color: #607D8B;
  border-radius: 2px;
}
.module:hover {
  background-color: #EEE;
  cursor: pointer;
  color: #607d8b;
}
.grid-pad {
  padding: 10px 0;
}
.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}
@media (max-width: 600px) {
  .module {
    font-size: 10px;
    max-height: 75px; }
}
@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }
  .module {
    min-width: 60px;
  }
}

